*
{
	font-family:Segoe UI;
}

h2
{
	text-align:center;
}

h4
{
	text-align:center;
}



.value
{
	font-weight:bold;
	font-size:30
}


.imgrow
{
	border:3px dotted;
	width:105px;
	height:105px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	margin-bottom:10px;
	line-height:100px;
}

#ITemp
{
	border-color:#8ec4d0;
	color:#8ec4d0;
}

#IHum
{
	border-color:#65a4a4;
	color:#65a4a4;
}

#AP
{
	border-color:#645b65;
	color:#645b65;
}

#OHum
{
	border-color:#872c2c;
	color:#872c2c;
}


#OTemp
{
	border-color:#414163;
	color:#414163;
}

.Ttext 
{
	display: inline-block;
	font-size:80;
	font-family:Sans-Serif;
}

.Htext
{
	font-family:Sans-Serif;
	font-size:80;
	display: inline-block;
}

.Atext
{
	font-family:Sans-Serif;
	font-size:30;
	display: inline-block;
}

.Ttext:before
{
	content:'\00B0'
}

#canvas
{
	width:100%;
	height:400px;
}

.text
{
	font-weight:bold;
}

#scrollbox
{
	width:100%;
	background-color:#f5f5f5;
	display:block;
	height:350px;
	line-height:1em;
	overflow:scroll;
	top:50px;
	position:relative;
	bottom:0px;
}
